{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
  <h3 class="my-5">About page</h3>
  <p>
    I am a driven and dedicated professional with a consistent track record of delivering high-quality results in the field of software development. With a proactive mindset and a strong focus on collaboration, I thrive in team environments where innovation and problem-solving are valued. My recent role as a Software Development Engineer 1 at More Retail Pvt Ltd in Bengaluru provided me with valuable experience in developing impactful features, troubleshooting issues, and ensuring the seamless functionality of critical applications. Specifically, I was tasked with spearheading the development of the AutoSuggestion feature, a key component of the More application aimed at enhancing user experience and engagement.
  </p>

  <p>
    My academic background includes a Bachelor of Engineering (BE) degree in Information Science and Engineering (ISE), where I excelled with a remarkable CGPA of 9.52. This rigorous program equipped me with a solid foundation in software engineering principles, algorithms, and data structures, laying the groundwork for my professional journey. Additionally, I augmented my theoretical knowledge with practical experience during my tenure as a Web Development & Designing Intern at The Sparks Foundation. Here, I had the opportunity to work on a diverse range of projects, including the creation of a basic banking web app utilizing HTML, CSS, JavaScript, PHP, and MySQL.

    Beyond my formal education and professional roles, I have actively pursued independent projects and certifications to further hone my skills and expand my knowledge base. Notable among these is my involvement in developing a car mileage predictor web app and a real estate home price prediction website, demonstrating my proficiency in leveraging technologies such as Python, Django, and various frontend frameworks. Furthermore, I have demonstrated my commitment to continuous learning and improvement by obtaining certifications such as "The Joy of Computing using Python" from NPTEL, as well as securing top honors in a webplay event at an intercollegiate Tech fest.
  </p>

  <p>
    Skills: Python, C, Java, HTML, CSS, Javascript, Django, Data structures & algorithms, Database management system and SQL.
  </p>
</div>
{% endblock content %}